header > h1:first-child {
    background-color: yellow;
}
body{
    width: 90%;
    margin: 75px;
    background: -webkit-radial-gradient(rgb(0, 134, 255), rgb(211, 223, 235));
    background: radial-gradient(rgb(0, 134, 255), rgb(211, 223, 235));
   /* background-image: url(https://i.pinimg.com/originals/f6/30/54/f63054ebccca854e4fd7100b35b253ca.png);
    background-position: bottom right;
    background-repeat: no-repeat;
     background-size: cover; */
}
blockquote{
    width: 50%;
    background-color: lightgrey;
    border-left: 3px solid firebrick;
    font-size: 160%;
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}
blockquote.story{
    width: 100%;
    font-size: 100%;
    margin: auto;
    padding: 0px;
    background: none;
    border: none;
    color: rgb(184, 11, 175);
}
li {
    list-style-type: none;
}

li:before {
    content: "- ";
}
p{
    color: rgb(184, 11, 175);
    font-style: serif larger;
    padding: 5px;
}
p:first-of-type{
    font-weight: bold;
    display: inline-block;
    justify-content: center;
}
a:link{
    color: darkgoldenrod;
}
a:visited{
    color: red;
}
a:hover{
    color: magenta;
}
h1{
    color: blueviolet;
}
ul {
    display: inline-block;
}

ul li{
    margin: 5px auto;
    padding-right: 25px;
}

ul li:nth-child(1){
    background-image: url(bien.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
ul li:nth-child(2){
    background-image: url(mal.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
ul li:nth-child(3){
    background-image: url(chat.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.tableau{
    text-align: center;
    color: black;
    border: 5px solid red;
    background-color: white;
}
.tableau tr:nth-child(even){
    color: black;
    background-color: grey;
}
q{
    font-style: italic;
}
q.quotesF{
    border-left: 3px solid blueviolet;
}
q.quotesN{
    border-left: 3px solid gold;
}
.good{
    color: green;
    text-transform: uppercase;
}
.bad{
    color: red;
    text-transform: uppercase;
}